<a href="https://colab.research.google.com/github/SnowTrash/pyHikethroug/blob/main/I5912A_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AÃ±adiendo el Dataset al entorno de trabajo

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#read_file = pd.read_excel (r'src/A9_dataset.xlsx')
#read_file.to_csv (r'src/A9_dataset.csv', index = None, header=True)

df = pd.read_csv('src/A9_dataset.csv', header=None)
print(len(df))

10000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       9997 non-null   object
 1   1       9997 non-null   object
 2   2       9993 non-null   object
 3   3       43 non-null     object
 4   4       29 non-null     object
 5   5       12 non-null     object
 6   6       7 non-null      object
 7   7       4 non-null      object
dtypes: object(8)
memory usage: 625.1+ KB

In [17]:
df.head()

,0,1,2,3,4,5,6,7
0,Mobiliario,Mobiliario.1,SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
1,Mobiliario,Mobiliario,PINTARRON 60X90 (ALTA 20 ENE 1999 MARCA ALFRA).,NaN,NaN,NaN,NaN,NaN
2,Equipo,Equipo,"MONITOR DE COLOR HP DE 15"", N.D. 017/2002 ALTA...",NaN,NaN,NaN,NaN,NaN
3,Mobiliario,Mobiliario,"CESTO DE BASURA ALUMINIO N.D. 007/2005, ALTA 3...",NaN,NaN,NaN,NaN,NaN
4,Transporte,Transporte,"AUTOMOVIL FORD ESCORT 1998, PLACAS: HZG1129, N...",NaN,NaN,NaN,NaN,NaN

In [174]:
y =df[[0,1,2]]
df_sb = pd.DataFrame(y)
df_sb.columns = ['Class_1','Class_2','item']
print(df_sb.head())
type(df_sb)

      Class_1       Class_2                                               item
0  Mobiliario  Mobiliario.1  SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...
1  Mobiliario    Mobiliario    PINTARRON 60X90 (ALTA 20 ENE 1999 MARCA ALFRA).
2      Equipo        Equipo  MONITOR DE COLOR HP DE 15", N.D. 017/2002 ALTA...
3  Mobiliario    Mobiliario  CESTO DE BASURA ALUMINIO N.D. 007/2005, ALTA 3...
4  Transporte    Transporte  AUTOMOVIL FORD ESCORT 1998, PLACAS: HZG1129, N...

pandas.core.frame.DataFrame

In [148]:
import nltk

In [149]:
from nltk.corpus import stopwords
stopwords = set(stopwords.words('spanish'))
from nltk.stem.snowball import SnowballStemmer
st = SnowballStemmer('spanish')

In [175]:
#Despues de buen rato de pelear con la funcion, entendi que:
#Toma NaN como valor flotante en la opeacion asi que
df_sb = df_sb.dropna()

In [191]:
# function to clean data
def clean_data(dfr, col, clean_col):
    dfr[clean_col]
    # change to lower and remove spaces on either side
    dfr[clean_col] = dfr[col].apply(lambda x: x.lower().strip())

    # remove extra spaces in between
    dfr[clean_col] = dfr[clean_col].apply(lambda x: nltk.re.sub(' +', ' ', x))

    # remove punctuation
    dfr[clean_col] = dfr[clean_col].apply(lambda x: nltk.re.sub('[^a-zA-Z]', ' ', x))

    # remove stopwords and get the stem
    dfr[clean_col] = df[clean_col].apply(lambda x: ' '.join(st.stem(text) for text in x.split() if text not in stop_words))

    return df

In [192]:
res = clean_data(df_sb,'item','clean_item')

/tmp/ipykernel_22644/1257397037.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfr[clean_col] = dfr[col].apply(lambda x: x.lower().strip())
/tmp/ipykernel_22644/1257397037.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfr[clean_col] = dfr[clean_col].apply(lambda x: nltk.re.sub(' +', ' ', x))
/tmp/ipykernel_22644/1257397037.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfr[clean_col] = dfr[clean_col].apply(lambda x: nltk.re.sub('[^a-zA-Z]', ' ', x))

KeyError: 'clean_item'