<a href="https://colab.research.google.com/github/SnowTrash/pyHikethroug/blob/main/I5912A_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando librerias

In [ ]:
#Librerias wonitas
%matplotlib inline
import sys
import pandas as pd
import csv
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np
from pandas.core.arrays.sparse import array
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

# Añadiendo el Dataset

> # Desde Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
local_path = '/content/drive/MyDrive/Clasificacion Inteligente de datos - I5912/src/A9_dataset.csv'
fh = open(local_path)
csv_reader = csv.reader(fh)
fh.close()

In [ ]:
df = pd.read_csv(local_path,header=None)
df

,0,1,2,3,4,5,6,7
0,Mobiliario,Mobiliario.1,SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
1,Mobiliario,Mobiliario,PINTARRON 60X90 (ALTA 20 ENE 1999 MARCA ALFRA).,NaN,NaN,NaN,NaN,NaN
2,Equipo,Equipo,"MONITOR DE COLOR HP DE 15"", N.D. 017/2002 ALTA...",NaN,NaN,NaN,NaN,NaN
3,Mobiliario,Mobiliario,"CESTO DE BASURA ALUMINIO N.D. 007/2005, ALTA 3...",NaN,NaN,NaN,NaN,NaN
4,Transporte,Transporte,"AUTOMOVIL FORD ESCORT 1998, PLACAS: HZG1129, N...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9995,Equipo,Equipo,COMPUTADORA SEGÚN FACTURA 729 DE VICENTE DE LA...,NaN,NaN,NaN,NaN,NaN
9996,Equipo,Equipo,PINTARRON MARCA ALFRA COLOR BLANCO MODELO 4840...,NaN,NaN,NaN,NaN,NaN
9997,Equipo,Equipo,"REGULADOR DE VOLTAJE INDUSTRONIC, 15KVA, COLOR...",NaN,NaN,NaN,NaN,NaN
9998,Equipo,Equipo,TP- LINK 1000BASE-LX SFP OPTIC SMF MINI GBIC M...,NaN,NaN,NaN,NaN,NaN
9999,Mobiliario,Mobiliario,"Mueble con gabinetes, cajones y puertas.",NaN,NaN,NaN,NaN,NaN

> # Local

In [ ]:
#import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt

#Con estas 2 lineas creamos el archivo .csv de un .xlsx

#read_file = pd.read_excel (r'src/A9_dataset.xlsx')
#read_file.to_csv (r'src/A9_dataset.csv', index = None, header=True)

#df = pd.read_csv('src/A9_dataset.csv', header=None)
#print(len(df))

# Primer contacto

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       9997 non-null   object
 1   1       9997 non-null   object
 2   2       9993 non-null   object
 3   3       43 non-null     object
 4   4       29 non-null     object
 5   5       12 non-null     object
 6   6       7 non-null      object
 7   7       4 non-null      object
dtypes: object(8)
memory usage: 625.1+ KB

In [ ]:
df.head()

,0,1,2,3,4,5,6,7
0,Mobiliario,Mobiliario.1,SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
1,Mobiliario,Mobiliario,PINTARRON 60X90 (ALTA 20 ENE 1999 MARCA ALFRA).,NaN,NaN,NaN,NaN,NaN
2,Equipo,Equipo,"MONITOR DE COLOR HP DE 15"", N.D. 017/2002 ALTA...",NaN,NaN,NaN,NaN,NaN
3,Mobiliario,Mobiliario,"CESTO DE BASURA ALUMINIO N.D. 007/2005, ALTA 3...",NaN,NaN,NaN,NaN,NaN
4,Transporte,Transporte,"AUTOMOVIL FORD ESCORT 1998, PLACAS: HZG1129, N...",NaN,NaN,NaN,NaN,NaN

In [100]:
y =df[[0,1,2]]
df_sb = pd.DataFrame(y)
df_sb.columns = ['Class_1','Class_2','item']
print(df_sb.head())
type(df_sb)

      Class_1       Class_2                                               item
0  Mobiliario  Mobiliario.1  SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...
1  Mobiliario    Mobiliario    PINTARRON 60X90 (ALTA 20 ENE 1999 MARCA ALFRA).
2      Equipo        Equipo  MONITOR DE COLOR HP DE 15", N.D. 017/2002 ALTA...
3  Mobiliario    Mobiliario  CESTO DE BASURA ALUMINIO N.D. 007/2005, ALTA 3...
4  Transporte    Transporte  AUTOMOVIL FORD ESCORT 1998, PLACAS: HZG1129, N...

pandas.core.frame.DataFrame

# nltlk - Leyendo el inventario

* nltk.download('punkt')
* nltk.download('stopwords')
* nltk.download('otraslibrerias')

In [101]:
#Importamos las herramientas para procesar texto (se necesitan descargar)
import nltk

#nltk.download('punkt')
#nltk.download('stopwords')
#Despues de buen rato de pelear con la funcion, entendi que:
#Toma NaN como valor flotante en la opeacion asi que
df_sb = df_sb.dropna()

In [102]:
#definimos el stopwords en espaniol
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

# function to clean data
def clean_data(df, col, clean_col):
    # change to lower and remove spaces on either side
    # Tokenizamos el texto --->
    df[str(clean_col)] = df[str(col)].apply(lambda x: x.lower())
    df[str(clean_col)] = df.apply(lambda row: nltk.word_tokenize(row['item']), axis=1)

    # remove extra spaces in between
    #df[str(clean_col)] = df[str(clean_col)].apply(lambda x: nltk.re.sub('+', ' ', x))
    # remove punctuation
    df[str(clean_col)] = df[str(clean_col)].apply(lambda x: nltk.re.sub('[^a-zA-Z]', ' ', x))
    
    #remove stopwords and get the stem
    #df["stopworded"] = df[str(clean_col)].apply(lambda x: ' '.join(SnowballStemmer('spanish').stem(text) for text in x if text not in stopwords.words('spanish') ))
    return df

In [103]:
print(df_sb.columns.tolist())
res = clean_data(df_sb.head(70),'item','tokenized_items')

['Class_1', 'Class_2', 'item']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

TypeError: ignored

In [74]:
res.head()

,Class_1,Class_2,item,tokenized_items,stopworded
0,Mobiliario,Mobiliario.1,SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...,"[SILLON, EJECUTIVO, RESPALDO, MEDIO, COLOR, NE...",sillon ejecut respald medi color negr . nd 13/...
1,Mobiliario,Mobiliario,PINTARRON 60X90 (ALTA 20 ENE 1999 MARCA ALFRA).,"[PINTARRON, 60X90, (, ALTA, 20, ENE, 1999, MAR...",pintarron 60x90 ( alta 20 ene 1999 marc alfra ) .
2,Equipo,Equipo,"MONITOR DE COLOR HP DE 15"", N.D. 017/2002 ALTA...","[MONITOR, DE, COLOR, HP, DE, 15, '', ,, N.D., ...","monitor de color hp de 15 '' , n.d. 017/2002 a..."
3,Mobiliario,Mobiliario,"CESTO DE BASURA ALUMINIO N.D. 007/2005, ALTA 3...","[CESTO, DE, BASURA, ALUMINIO, N.D., 007/2005, ...","cest de basur alumini n.d. 007/2005 , alta 31 ..."
4,Transporte,Transporte,"AUTOMOVIL FORD ESCORT 1998, PLACAS: HZG1129, N...","[AUTOMOVIL, FORD, ESCORT, 1998, ,, PLACAS, :, ...","automovil ford escort 1998 , plac : hzg1129 , ..."

--------------------------
Class_1
* Equipo        41
* Mobiliario    28
* Transporte     1
* Name: tokenized_items, dtype: int64
--------------------------
--------------------------
Class_2
* Equipo          41
* Mobiliario      27
* Mobiliario.1     1
* Transporte       1
* Name: tokenized_items, dtype: int64

In [75]:
print('--------------------------')
res.groupby(by='Class_1')['tokenized_items'].count()

--------------------------

Class_1
Equipo        41
Mobiliario    28
Transporte     1
Name: tokenized_items, dtype: int64

En este punto, tratare de arreglar las stopwords, donde creo que esta el problema , pues lee las 'o' finales de una palabra como una non-noun, una marca del lenguajepss

In [76]:
print(stopwords.words('spanish'))

['de', 'la', 'que', 'el', 'en', 'y', 'a', 'los', 'del', 'se', 'las', 'por', 'un', 'para', 'con', 'no', 'una', 'su', 'al', 'lo', 'como', 'más', 'pero', 'sus', 'le', 'ya', 'o', 'este', 'sí', 'porque', 'esta', 'entre', 'cuando', 'muy', 'sin', 'sobre', 'también', 'me', 'hasta', 'hay', 'donde', 'quien', 'desde', 'todo', 'nos', 'durante', 'todos', 'uno', 'les', 'ni', 'contra', 'otros', 'ese', 'eso', 'ante', 'ellos', 'e', 'esto', 'mí', 'antes', 'algunos', 'qué', 'unos', 'yo', 'otro', 'otras', 'otra', 'él', 'tanto', 'esa', 'estos', 'mucho', 'quienes', 'nada', 'muchos', 'cual', 'poco', 'ella', 'estar', 'estas', 'algunas', 'algo', 'nosotros', 'mi', 'mis', 'tú', 'te', 'ti', 'tu', 'tus', 'ellas', 'nosotras', 'vosotros', 'vosotras', 'os', 'mío', 'mía', 'míos', 'mías', 'tuyo', 'tuya', 'tuyos', 'tuyas', 'suyo', 'suya', 'suyos', 'suyas', 'nuestro', 'nuestra', 'nuestros', 'nuestras', 'vuestro', 'vuestra', 'vuestros', 'vuestras', 'esos', 'esas', 'estoy', 'estás', 'está', 'estamos', 'estáis', 'están', 'esté', 'estés', 'estemos', 'estéis', 'estén', 'estaré', 'estarás', 'estará', 'estaremos', 'estaréis', 'estarán', 'estaría', 'estarías', 'estaríamos', 'estaríais', 'estarían', 'estaba', 'estabas', 'estábamos', 'estabais', 'estaban', 'estuve', 'estuviste', 'estuvo', 'estuvimos', 'estuvisteis', 'estuvieron', 'estuviera', 'estuvieras', 'estuviéramos', 'estuvierais', 'estuvieran', 'estuviese', 'estuvieses', 'estuviésemos', 'estuvieseis', 'estuviesen', 'estando', 'estado', 'estada', 'estados', 'estadas', 'estad', 'he', 'has', 'ha', 'hemos', 'habéis', 'han', 'haya', 'hayas', 'hayamos', 'hayáis', 'hayan', 'habré', 'habrás', 'habrá', 'habremos', 'habréis', 'habrán', 'habría', 'habrías', 'habríamos', 'habríais', 'habrían', 'había', 'habías', 'habíamos', 'habíais', 'habían', 'hube', 'hubiste', 'hubo', 'hubimos', 'hubisteis', 'hubieron', 'hubiera', 'hubieras', 'hubiéramos', 'hubierais', 'hubieran', 'hubiese', 'hubieses', 'hubiésemos', 'hubieseis', 'hubiesen', 'habiendo', 'habido', 'habida', 'habidos', 'habidas', 'soy', 'eres', 'es', 'somos', 'sois', 'son', 'sea', 'seas', 'seamos', 'seáis', 'sean', 'seré', 'serás', 'será', 'seremos', 'seréis', 'serán', 'sería', 'serías', 'seríamos', 'seríais', 'serían', 'era', 'eras', 'éramos', 'erais', 'eran', 'fui', 'fuiste', 'fue', 'fuimos', 'fuisteis', 'fueron', 'fuera', 'fueras', 'fuéramos', 'fuerais', 'fueran', 'fuese', 'fueses', 'fuésemos', 'fueseis', 'fuesen', 'sintiendo', 'sentido', 'sentida', 'sentidos', 'sentidas', 'siente', 'sentid', 'tengo', 'tienes', 'tiene', 'tenemos', 'tenéis', 'tienen', 'tenga', 'tengas', 'tengamos', 'tengáis', 'tengan', 'tendré', 'tendrás', 'tendrá', 'tendremos', 'tendréis', 'tendrán', 'tendría', 'tendrías', 'tendríamos', 'tendríais', 'tendrían', 'tenía', 'tenías', 'teníamos', 'teníais', 'tenían', 'tuve', 'tuviste', 'tuvo', 'tuvimos', 'tuvisteis', 'tuvieron', 'tuviera', 'tuvieras', 'tuviéramos', 'tuvierais', 'tuvieran', 'tuviese', 'tuvieses', 'tuviésemos', 'tuvieseis', 'tuviesen', 'teniendo', 'tenido', 'tenida', 'tenidos', 'tenidas', 'tened']

In [84]:
inventario = res.explode(column='tokenized_items')
#tweets_tidy = res.drop(columns='item')
inventario = inventario.rename(columns={'tokenized_items':'tokenzd','Class_1':'Tipo','item':'Descripcion'})
inventario.drop(columns={'Class_2','stopworded'})

          Tipo                                        Descripcion    tokenzd
0   Mobiliario  SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...     SILLON
0   Mobiliario  SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...  EJECUTIVO
0   Mobiliario  SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...   RESPALDO
0   Mobiliario  SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...      MEDIO
0   Mobiliario  SILLON EJECUTIVO RESPALDO MEDIO COLOR NEGRO. N...      COLOR
..         ...                                                ...        ...
69  Mobiliario  MAMPARA EN TELA DE 91.2X04X209 CM. MODELO HAWA...     MODELO
69  Mobiliario  MAMPARA EN TELA DE 91.2X04X209 CM. MODELO HAWA...     HAWAII
69  Mobiliario  MAMPARA EN TELA DE 91.2X04X209 CM. MODELO HAWA...      COLOR
69  Mobiliario  MAMPARA EN TELA DE 91.2X04X209 CM. MODELO HAWA...       ROJO
69  Mobiliario  MAMPARA EN TELA DE 91.2X04X209 CM. MODELO HAWA...  BERMELLÓN

[675 rows x 3 columns]

In [89]:
print('Palabras totales por categoria')
print('--------------------------')
print(inventario.groupby(by='Tipo')['tokenzd'].count())
print('--------------------------')
print('--------------------------')
print('Palabras distintas en las categorias')
print(inventario.groupby(by='Tipo')['tokenzd'].nunique())
print('--------------------------')

Palabras totales por categoria
--------------------------
Tipo
Equipo        336
Mobiliario    315
Transporte     24
Name: tokenzd, dtype: int64
--------------------------
--------------------------
Palabras distintas en las categorias
Tipo
Equipo        201
Mobiliario    168
Transporte     15
Name: tokenzd, dtype: int64
--------------------------

In [93]:
inventario.groupby(['Tipo','tokenzd'])['tokenzd'] \
 .count() \
 .reset_index(name='count') \
 .groupby('Tipo') \
 .apply(lambda x: x.sort_values('count', ascending=False).head(8))

                      Tipo            tokenzd  count
Tipo
Equipo     4        Equipo                  ,     28
           84       Equipo                 DE     19
           2        Equipo                  )      7
           101      Equipo                 EN      7
           1        Equipo                  (      7
           76       Equipo                CON      7
           141      Equipo            MONITOR      4
           71       Equipo              COLOR      4
Mobiliario 276  Mobiliario                 DE     25
           203  Mobiliario                  ,     21
           204  Mobiliario                  .     15
           270  Mobiliario              COLOR     13
           272  Mobiliario                CON     11
           280  Mobiliario                 EN     10
           358  Mobiliario               TELA      6
           266  Mobiliario                 CM      6
Transporte 369  Transporte                  ,      4
           370  Transporte                  .      3
           373  Transporte                  :      3
           380  Transporte                 NO      3
           371  Transporte               1998      1
           372  Transporte  3FABP1136WR109452      1
           374  Transporte          AUTOMOVIL      1
           375  Transporte              ECONÓ      1

Since you tagged this nltk, here's how to do it using the nltk's methods, which have some more features than the ones in the standard python collection.

[Recurso utilizado](https://stackoverflow.com/questions/40669141/python-nltk-counting-word-and-phrase-frequency)

In [71]:
from nltk import ngrams, FreqDist
all_counts = dict()
for size in 2, 3, 4, 5:
    all_counts[size] = FreqDist(ngrams(inventario['tokenized_items'], size))
all_counts[4].most_common(10)

[(('ESCRITORIO', 'EJECUTIVO', 'DE', 'MADERA'), 2),
 (('GHZ', ',', '256MB', '('), 2),
 ((',', 'DISCO', 'DURO', 'DE'), 2),
 (('SILLON', 'EJECUTIVO', 'RESPALDO', 'MEDIO'), 1),
 (('EJECUTIVO', 'RESPALDO', 'MEDIO', 'COLOR'), 1),
 (('RESPALDO', 'MEDIO', 'COLOR', 'NEGRO'), 1),
 (('MEDIO', 'COLOR', 'NEGRO', '.'), 1),
 (('COLOR', 'NEGRO', '.', 'ND'), 1),
 (('NEGRO', '.', 'ND', '13/2002'), 1),
 (('.', 'ND', '13/2002', '.'), 1)]